extends layout

block content
    .container
        h1 Admin page
        p.lead
            | test each of the&nbsp;
                
        p
        span.small Built on
        a.small(href='https://github.com/pietaridaemonna/job_dsigner_core') 
          span.label.label-warning Job dSigner CORE.

