extends layout

block content
  .container
    .jumbotron
        h1 Dept Creator
  .container
    #bg
  .container
        form(id="department_add_form", method='POST' action='/department_add/')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='department name' name='department_name')
          div.form-group
            label(for='domain_name') Type:
            select#type.form-control(name='domain_name')
              each d in domains
                option(value="#{d.name}") #{d.name}
          div.form-group
            label(for='Description') Description:
            input#favoriteBook.form-control(type='text', placeholder='Description' name='description')
          button.btn.btn-primary(type='submit') Save

