extends layout

block content
block content
  .container
    .jumbotron
        h1 DOMAIN Creator
        p.lead
            | welcome to..
  .container
    #bg
  .container
    span.small Domain Creator
