extends layout_d4

block content
  script(type='text/javascript').
    var domains = #{domains};
  .container
    .jumbotron
      h1 Domain was added
  .container
  .container
    a(href="/domain_list"): button.btn.btn-default(type="button") Continue




       
    