extends layout_d4

block content
  script(type='text/javascript').
    var domains = #{domains};
  .container
    .jumbotron
      h1 Available domains
  .container
      each d in domains
        a(href='/domain_info/'+ d.name) #{d.name}
        div(style="float: right;")
          a(href='/domain_list/delete') [Delete]
        br
  .container
    a(href="/domain_create_form"): button.btn.btn-default(type="button") Add NEW domain




       
    