extends layout

block content
  .container
    .jumbotron
        h1 DOMAIN Creator
        p.lead
            | welcome to..
  .container
    #bg
  .container
        form(id="domain_add_form", method='POST' action='/domain_add/')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='domain name' name='domain_name')
          div.form-group
            label(for='domain_type') Type:
            select#type.form-control(name='domain_type')
              option(value="Business") Business
              option(value="Government") Government
              option(value="Non-profit") Non-profit
              option(value="Personal") Personal
          div.form-group
            label(for='FQDN') DNS:
            input#dns_name.form-control(type='text', placeholder='qualified domain name' name='fqdn')
          div.form-group
            label(for='favoriteBook') ITIN:
            input#favoriteBook.form-control(type='text', placeholder='(international tax identifier number)' name='itin')
          div.form-group
            label(for='Description') Description:
            input#favoriteBook.form-control(type='text', placeholder='Description' name='description')
          div.form-group
            label(for='Location') location:
            input#pw.form-control(type='text' name='location')
          button.btn.btn-primary(type='submit') Save

