extends layout

block content
block content
  .container
    .jumbotron
        h1 Welcome page
        p.lead
            | welcome to..
  .container
    #bg
  .container
    span.small Built on
        a.small(href='https://github.com/pietaridaemonna/job_dsigner_core') 
          span.label.label-warning Job dSigner CORE.


  script(src='/js/d3.v3.min.js')
  script(src='/js/d3.geo.js')
  script(src='/js_core/bg.js')
