extends layout

block content
  //- div.container
  //-   div.jumbotron
  p JOB dSIGNER

  //-     p Welcome to Job dSigner
  //-     p
  //-       span.small Built on
  //-       a.small(href='https://github.com/pietaridaemonna/job_dsigner_core') 
  //-         span.label.label-warning Job dSigner CORE.
  //-     p
  div.btn-group.btn-group-justified
  div.btn-group
    button.btn.btn-default Features
  div.btn-group
    button.btn.btn-default Docs
  div.btn-group
    button.btn.btn-default License
    span.small Built on
    a.small(href='https://github.com/pietaridaemonna/job_dsigner_core') 
      span.label.label-warning Job dSigner CORE.
