extends layout

block content

  div.container
    div.jumbotron
      h1 Job dSigner Welcome page
 
      p
        a.btn.btn-primary(href="/login") Login now
      p
        span.small Don't have an account?
        span &nbsp;
        a.small(href="/register") Register now
      p
        span.small Built on
        a.small(href='https://github.com/pietaridaemonna/job_dsigner_core') 
          span.label.label-warning Job dSigner CORE.