extends layout_d4

block content
  .container
    .jumbotron
      h1 SuiteViz
      p showing suite "Ping"
  .container
    #vizcanvas
    | generated on #{utc}

  script(src='/js_core/suite_visualization.js')

       
    