extends layout_d4

block content
  .container
    .jumbotron
      h1 Currently available suites
      p 
  .container
    p
      a(href="/suiteviz/333/") 333
    p
      a(href="/suiteviz/Animatronix/") Animatronix
    p
      a(href="/suiteviz/CreateVMShowdown/") CreateVMShowdown
       
    