/*body {
    background-image: url(bg/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	height: 100%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
} 
*/

 html { 
    background-image: url('../bg/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
 }

 .body {
     background-color: transparent; 
 }